__pycache__/
*.py[cod]
.pytest_cache/

logs/
slurm-*.out
slurm-*.err

_pipeline/
_analysis/
_figures/
sub-*_repeatability/

post/.$*.bkp
post/*.nii
post/*.nii.gz
post/*.png
post/*_values.csv
post/*_mask.csv

